<a href="https://colab.research.google.com/github/LuaraEv04/lua.ipynb/blob/main/LuaraEv_aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
areas = ['hallway', 14.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bath room', 9.5]
#sun of kitchen and bedroom areas: eat_sleep_areas
eat_sleep_areas = areas[3] + areas[5]
#print the variable eat_sleep_areas
print(eat_sleep_areas)

38.0

In [2]:
areas = ['hallway', 14.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bath room', 9.5]
#use slicing to creat downstairs
downstairs = areas[ : 6]
#use slicing to creat upstairs
upstairs = areas [5 : ]
print(downstairs)
print(upstairs)

['hallway', 14.25, 'kitchen', 18.0, 'living room', 20.0]
[20.0, 'bedroom', 10.75, 'bath room', 9.5]

In [3]:
x = [['a', 'b', 'c'],
        ['d', 'e', 'f'],
        ['g', 'h', 'i']]
x[2][0]
x[2][:2]

['g', 'h']

In [4]:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
house = [['hallway', hall], ['kitchen', kit], ['living room', liv], ['bedroom', bed], ['bath room', bath]]
house [-1][1]

9.5

In [5]:
#sempre usar print para modificar a lista 
fam = ['Liz', 1.73, 'ema', 1.68, 'mom', 1.71, 'dad', 1.89]
print(fam)
fam[7] = 1.86
print(fam)
fam[0:2] = ['Liza, 1.74']
print(fam)

['Liz', 1.73, 'ema', 1.68, 'mom', 1.71, 'dad', 1.89]
['Liz', 1.73, 'ema', 1.68, 'mom', 1.71, 'dad', 1.86]
['Liza, 1.74', 'ema', 1.68, 'mom', 1.71, 'dad', 1.86]

In [ ]:
#concateinando 'me' à lista
fam + ['me', 1.79]

['Liza, 1.74', 'ema', 1.68, 'mom', 1.71, 'dad', 1.86, 'me', 1.79]

In [ ]:
#excluindo da lista
fam_ext = fam + ['me', 1.79]
del(fam[2])
fam

['Liza, 1.74', 'ema', 1.71, 'dad', 1.86]

In [ ]:
#manipulando à lista "x e y apontam para o mesmo"
x = ['a', 'b', 'c']
y = x
y[1] = 'z'
y

['a', 'z', 'c']

In [ ]:
x

['a', 'z', 'c']

In [ ]:
x = ['a', 'b', 'c']
y = list(x)
y = x[:]
print(y)

['a', 'b', 'c']

In [14]:
#creat the list areas list 
areas = ['hallway', 14.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bath room', 9.5]
#add poolshouse data to areas, new list is araes 1 
areas_1 = areas + ['poolhouse', 24.5]
print(areas_1)
#add garagem data to areas_1, new list is areas_2
areas_1 + ['garagem', 15.5]
areas_2 = areas_1 + ['garagem', 15.5]
print(areas_2)

['hallway', 14.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bath room', 9.5, 'poolhouse', 24.5]
['hallway', 14.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bath room', 9.5, 'poolhouse', 24.5, 'garagem', 15.5]

In [15]:
#creat list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.5]
#creat areas_copy
areas_copy = list(areas)
#change areas_copy
areas_copy[0] = 5.0
#print areas 
print(areas)
print(areas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]