<a href="https://colab.research.google.com/github/LuaraEv04/lua.ipynb/blob/main/LuaraEv_aula05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Funções
fam = [1.73, 1.68, 1.71, 1.89]
fam

[1.73, 1.68, 1.71, 1.89]

In [ ]:
max(fam)

1.89

In [ ]:
# Use round (**,1) para arredondar para o número mias próximo
round(1.68,1)

1.7

In [ ]:
# Use round sem , para arredondar para o número inteiro acima
round(1.68)

2

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
#Creat variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True
#Print out type of var1
print(type(var1))
#Print out length of var1
print(len(var1))
#Convert var2 to an integer: out2
out2= int(var2)
print(out2)

<class 'list'>
4
1

In [ ]:
# Creat list first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]
# Paste together first and second : full
full = first + second 
print(full)
# Sort full in descending order: full_sorted
print(sorted(full)) # sorted é do menor para o maior
print(sorted(full,reverse=True)) # sorted + reverse é do maior para o menor

[11.25, 18.0, 20.0, 10.75, 9.5]
[9.5, 10.75, 11.25, 18.0, 20.0]
[20.0, 18.0, 11.25, 10.75, 9.5]

In [ ]:
# Use '.index' para mostrar a posição na lista
# Use '.count' para contar quantas vzs o número aparece na lista
fam = ['Lana', 1.73, 'Thyara', 1.63, 'Tia', 1.63, 'Avô', 1.86]
print(fam.index('Tia'))
print(fam.count(1.63))

4
2

In [ ]:
fam = ['Lana', 1.73, 'Thyara', 1.63, 'Tia', 1.63, 'Avô', 1.86]
print(fam)
fam.append('Me')
print(fam)
fam.append(1.70)
print(fam)

['Lana', 1.73, 'Thyara', 1.63, 'Tia', 1.63, 'Avô', 1.86]
['Lana', 1.73, 'Thyara', 1.63, 'Tia', 1.63, 'Avô', 1.86, 'Me']
['Lana', 1.73, 'Thyara', 1.63, 'Tia', 1.63, 'Avô', 1.86, 'Me', 1.7]

In [ ]:
sister = 'thyara'
print(sister)
print(sister.capitalize())
print(sister.replace('hy', 'i'))

thyara
Thyara
tiara

In [ ]:
# String to experiment with: place
place = 'poolhouse'
# Use upper() on place: place_up
place_up = place.upper()
# Print out place and place_up
print(place)
print(place_up)
# Print out the number of o'sin place 
place.count('o')

poolhouse
POOLHOUSE

3