<a href="https://colab.research.google.com/github/LuaraEv04/lua.ipynb/blob/main/LuaraEv_Aula3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fam= [1.73, 1.68, 1.71, 1.89]
fam

In [ ]:
fam1= [['Liz = 1.73'],['Nara = 1.68'],['Luara = 1.71'],['Axl = 1.89']]
fam1

[['Liz = 1.73'], ['Nara = 1.68'], ['Luara = 1.71'], ['Axl = 1.89']]

In [ ]:
fam2= [['Liz = 1.73'],
       ['Nara = 1.68'],
       ['Luara = 1.71'],
       ['Axl = 1.89']]
fam2

[['Liz = 1.73'], ['Nara = 1.68'], ['Luara = 1.71'], ['Axl = 1.89']]

In [ ]:
type(fam1)

list

In [ ]:
type(fam2)

list

In [ ]:
#area variables (in square meters)
hall = 14.25
kit = 18.0
liv = 20.0
bad = 10.75
bath = 9.50
#creat list areas
areas = [hall, kit, liv, bad, bath]
#print areas
print(areas)

[14.25, 18.0, 20.0, 10.75, 9.5]

In [ ]:
areas = ['hallway', hall, 'kitchen', kit, 'living room', liv, 'bad room', bad, 'bath room', bath]
print(areas)

['hallway', 14.25, 'kitchen', 18.0, 'living room', 20.0, 'bad room', 10.75, 'bath room', 9.5]

In [ ]:
#uma lista de quatro números int
[1, 2, 3, 4]
#duas lista dentro de uma lista com três números inteiros cada
[[1, 2, 3], [4, 5, 6]]
#lista de dois cálculos e três elementos
[1 + 2, "a" * 5,3]

[3, 'aaaaa', 3]

In [ ]:
#house information as list of list
house = [['hallway', hall,],
['kitchen', kit],
['living room', liv],
['bad room', bad],
['bath room', bath]]
print(house)
print(type(house))

[['hallway', 14.25], ['kitchen', 18.0], ['living room', 20.0], ['bad room', 10.75], ['bath room', 9.5]]
<class 'list'>

In [ ]:
fam1= ['Liz', 1.73, 'Nara', 1.68, 'Luara', 1.71, 'Axl', 1.89]
fam1

['Liz', 1.73, 'Nara', 1.68, 'Luara', 1.71, 'Axl', 1.89]

In [ ]:
#elementos vão começar do 0 e não do 1
print(fam1[3])
print(fam1[6])
print(fam1[-1])
print(fam1[7])

1.68
Axl
1.89
1.89

In [ ]:
#pegando um pedaço da lista
print(fam1)
print(fam1[3:5])
print(fam1[-1:7]) #será vazio sempre que o número foi negativo
print(fam1[0:4])
print(fam1[6:])

['Liz', 1.73, 'Nara', 1.68, 'Luara', 1.71, 'Axl', 1.89]
[1.68, 'Luara']
[]
['Liz', 1.73, 'Nara', 1.68]
['Axl', 1.89]

In [ ]:
#creat the areas list 
areas = ['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bad room', 10.75, 'bath room', 9.50]
#print of the areas
print(areas[1])
print(areas[-1])
print(areas[5])

11.25
9.5
20.0